%center 
  %h2 You are in the Admin Dashboard!

%ul.nav.nav-tabs
  %li.active
    %a  Projects
  %li
    %a  Reports
.navbar
  .row.usercontainer
    .span8
      .row
        .span3.image
          = image_tag ("missing_little.png") 
          %hr
        .span5.algo
          %p User Name
      .projects.same.hero 
        Here is a zone for Projects 
    .span4.hero.userinfo.admin
      %p
        Here goes a List Of cattegories
