%h1 hola mundo
%table(ng-controller="loginUserController" ng-init="showUsers")
  %thead
    %tr
      %th Usuario
      %th Password
      %tbody(ng-repeat="user in users")
        %tr
          %td {{user.name}} 
          %td {{user.password}} 
