!!! 5 
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    %link{:href => "css/foundation.css", :rel => "stylesheet"}/
    %script{:src => "js/vendor/custom.modernizr.js"}
  %body
    / menu Bar
    %nav.row
      .large-12.columns
        .left
          %img/
          %p Lo del logo
        %nav.large-5.colums.nav-bar.right
          %button.tiny{"data-reveal-id" => "myModal"} login
          %text
          / Div del Login
          #myModal.reveal-modal
            %h2 Awesome. I have it.
            %p.lead Your couch.  It is mine.
            %p Im a cool paragraph that lives inside of an even cooler modal. Wins
            %a.close-reveal-modal ×
          / T
          %ul.button-group
            %li
              %a.button.tiny{:href => "#"} SUCCES STORIES
            %li
              %a.button.tiny{:href => "#"} PURCHASE GIF CREDIT
            %li
              %a.button.tiny{:href => "#"} ONLINE STORE
            %li
              %a.button.tiny{:href => "#"} STARFISH STORIE
            %li
              %a.button.tiny{:href => "#"} VIDEO TRAINING
            %li
              %a.button.tiny{:href => "#"} HOW IT WORKS
      %hr/
    / End menu
    / Main Page 1
    %div
      .row
        / First part
        %section
          .large-9.columns.back{:role => "content"}
            %article
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %hr/
          %aside.large-3.columns
            %ul.side-nav
              %li
                %a.button{:href => "#"} START A PROJECT MATCH
              %li
                %a.button{:href => "#"} START A CAMPAING
        %section
          .large-9.columns{:role => "content"}
            %article
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %hr/
          %aside.large-3.columns
            %ul.side-nav
              %li
                %a.button{:href => "#"} POST A GRANT
              %li
                %a.button{:href => "#"} MESSAGES
        %section
          .large-9.columns{:role => "content"}
            %article
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %hr/
          %aside.large-3.columns
            %ul.side-nav
              %li
                %a.button{:href => "#"} HISTORY
              %li
                %a.button{:href => "#"} ACCOUNT SETTINGS
      .row
        / second part
        %section
          .large-12.columns{:role => "content"}
            %article
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %hr/
            %article
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %hr/
            %article
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              %hr/
      / Footer
      %footer.row
        .large-12.columns
          %section.large-2.colums.left
            %p Links 1
          %section.large-8.colums.left
            %p links 2
          %section.large-2.colums.right
            %p Links 3
