.hero.same.container
  = image_tag ("hero-04.jpg")
.stuff.same.container
  %p Some Stuff Here
.city.same.container
  %p About your citty Here
.popularprojects.same.container
  %p Popular Projects here
.friends.same.container
  %p Connect with your Friends Here

