%center
  .headerproject
    %h2 Name of Project
    %p By :USER
.container
  .menu.row
    %ul.nav.nav-tabls
      .span8
        %li
          Home
        %li
          Updates
        %li
          Backers
        %li
          Comments
      .span4
        %li
          Place
        %li
          Category
  .content.container.row
    .information.span8
      .video
        .span.button-video
      .shareproject.
      .about
        .information
      .risks    
        .reports
    .righaside.span4
      .statsproject
        .backers
          %span 20
          %p Bakers
        .num
          %span $500
        .date
          %span 13
          %p Days to go
        .backproject
          %a.btn
            Back this project
            %small 1.00 dollars
        .banner
          %p Tjisproject will be founded if at least $ GOALHERE is piedged by $ DATE HERE
        .creation-date
          %h5 Funding Period
          %p CREATION DATE - FINAL DATE (DAYS TO FINALITATION)
      .project-by
        .div.up
          %img.user
          %h5 Proect by:
          %p Name user Here
          %p City Here
        .div.down 
          .user-stats
            %p number o projects and backets
          .user-socialmedia
            %p Facebook and twitter
      .pledges      
  .otherprojects    

