/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h2{
  padding: 0.5em;
}
.navbar{
  height: 60px;
}
.navbar-fixedtop{
 background: #FFF; 
}
.paddingtop {
  padding: 1.2em 0 0 0;
}

.kickstarterlogoup {
width: 160px;
height: 20px;
}
.mega-footer{
    background: none repeat rgb(11, 25, 2);
    border-top: 2px dashed rgb(117, 187, 52);
}
.footerliststyle{
  list-style: none;
  color: #F2F2F2;
}
.same{
height: 350px;
width: 100%;
}
.hero , .city , .friends{
background-color:#F2F2F2; 
}
.border-bottom{
border-bottom-style: dashed;
border-bottom-color: #c9c9c9;
border-bottom-width: 2px; 
}
.row.usercontainer{
padding: 2em;
}
.userinfo{
  height: 543px;
}

.user-video{
}
.statsproject , .pledged{
background: none repeat scroll 0% 0% rgb(238, 242, 234);
}
/*Esta no la hace, hay que revisarlo*/
.aligned{
  padding: 2em 0em 1em 2em;
}
.project-by{
  margin-top: 10px;
  background: none repeat scroll 0% 0% rgb(228, 250, 252); 
}
.num{
font-size:50px;
}  
a.btn{
display: inline-block;
padding: 20px;
margin: 0px 0px 0px 70px;
text-align: center;
text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
cursor: pointer;
/*background-color: rgb(118, 204, 30);*/
}
.tiny{
font-size: 11px;
}

