.mega-footer.row  
  .footer.container
    .right.span1.footerliststyle
      %ul.footerliststyle
        %li Art
        %li Comics
        %li Dance
        %li Design
        %li Fashion
        %li Film and Video
        %li Food
    .right.span2.footerliststyle
      %ul.footerliststyle
        %li Games
        %li Music
        %li Photography
        %li Publishing
        %li Technology
        %li Theater
    .right.span1.footerliststyle
      %ul.footerliststyle
        %li Puerto Vallarta, Mexico
        %li Staff Picks
        %li Popular
        %li Recently Launched
        %li Small Projects
        %li Most Funded
        %li Curated Pages
    .center.span2
    .left.span3
